.Contact1{
    height: 140px;
    width: 30rem;
    padding-top: 25px;
    margin-left: 15rem;
    list-style-type: none;
    background-color: #1b3b5f;
    text-decoration: none;
}
.Contacts{
    display: flex;
}
.Contacts1{
    display: flex
}

.Contact2{
    height: 140px;
    width: 30rem;
    padding-top: 25px;
    margin-left: 5rem;
    list-style-type: none;
    background-color: #1a3b60;
    text-decoration: none;
}
#h3{
    color: greenyellow;
    margin-left: 24px;
}
#location{
    height: 30px;
    width: 30px;
    margin-top: 13px;
}
#email,#phone{
    height: 30px;
    width: 30px;
    padding-left: 35px;
    margin-top: 14px;
}
#social{
    height: 30px;
    width: 30px;
    margin-top: 14px;
}
.email,.contact,.Social{
    display: flex;
}
.locate{
    display: flex;
}
.li{
    margin-left: 3.2rem;
}
.lii{
    margin-left: 5.2rem;
}


#h4{
    color: greenyellow;
    margin-left: 24px;
}
#liii {
    margin-bottom: 10px; 
}
#contact{
    margin-left: 5.3rem;
}
#git{
    height: 35px;
    width: 40px;
    margin-left: -13rem;
}
#Linked{
    height: 35px;
    width: 40px;
    margin-left: 2rem;
}
#Google{
    height: 35px;
    width: 40px;
    color: white;
    margin-left: 2rem;
}