#sec1{
    color: rgb(108, 153, 41);
}
.sec1{

    margin-right: 16rem;
    margin-left: 15rem;
    height: 250px;
    font-size: 19px;
    padding: 20px;
    background-color: #122d4c;
    
   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 19px;
}


